<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mainapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainApplication">
        <activity
            android:name=".webviewYT"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".webviewFB"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="  "
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BoatGalary"
            android:exported="true"
            android:label="Boat 1 Gallery"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BoatGalary2"
            android:exported="true"
            android:label="Boat 2 Gallery"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BoatChoices"
            android:exported="true"
            android:label="Boat Image Selection"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogMessage"
            android:exported="true"
            android:noHistory="true"
            android:label="MESSAGE ALERT"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert">
            <intent-filter>
                <action android:name="android.intent.action" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogMessage1"
            android:exported="true"
            android:noHistory="true"
            android:label="MESSAGE ALERT"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerList"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PassengerScreen"
            android:exported="true"
            android:noHistory="true"
            android:label=" "
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PassengerScreen1"
            android:exported="true"
            android:noHistory="true"
            android:label=" "
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PassengerScreen2"
            android:exported="true"
            android:noHistory="true"
            android:label=" "
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PassengerScreen3"
            android:exported="true"
            android:noHistory="true"
            android:label=" "
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PassengerScreen4"
            android:exported="true"
            android:noHistory="true"
            android:label=" "
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>